let mapleader =" "

set commentary
set highlightedyank

set autoindent
set complete+=kspell
set completeopt=menuone,preview,noinsert
set expandtab
set ff=unix
set foldlevelstart=99
set foldmethod=indent
set hidden
set hlsearch
set ignorecase
set inccommand=split
set incsearch
set isfname+=@-@
set lazyredraw
set list
set listchars=tab:➝\ ,extends:>,precedes:<,nbsp:⎵
set makeprg=make\ -j4\ -w
set mouse=a
set nobackup
set nojoinspaces
set noswapfile
set notimeout ttimeout ttimeoutlen=0
set nowrap
set nowritebackup
set number relativenumber
set path=$PWD/**
set rtp+=/usr/local/opt/fzf
set shiftwidth=2
set shortmess+=c
set showmatch
set signcolumn=yes
set smartcase
set smartindent
set softtabstop=2
set splitbelow
set splitright
set tabstop=2
set termguicolors
set undofile
set updatetime=300
set visualbell t_vb=
set wildignore+=.cache/*,.clangd/*,build/*,node_modules/*,vendor/*,package-lock.json,yarn.lock
set wildignorecase
set wildmode=longest:full,full

map Q gq

nnoremap <unique> <silent> [b :bp<CR>
nnoremap <unique> <silent> [c :cp<CR>
nnoremap <unique> <silent> [l :lp<CR>
nnoremap <unique> <silent> [t :tabp<CR>
nnoremap <unique> <silent> ]b :bn<CR>
nnoremap <unique> <silent> ]c :cn<CR>
nnoremap <unique> <silent> ]l :ln<CR>
nnoremap <unique> <silent> ]t :tabn<CR>

nnoremap <unique> <silent> <Esc> :nohlsearch<cr>
nnoremap <unique> <silent> Y y$
nnoremap <unique> <silent> j gj
nnoremap <unique> <silent> k gk
vnoremap <unique> <silent> < <gv
vnoremap <unique> <silent> > >gv
vnoremap <unique> <silent> j gj
vnoremap <unique> <silent> k gk

nnoremap <unique> <silent> <space>0 :tabl<cr>
nnoremap <unique> <silent> <space>1 1gt
nnoremap <unique> <silent> <space>2 2gt
nnoremap <unique> <silent> <space>3 3gt
nnoremap <unique> <silent> <space>4 4gt
nnoremap <unique> <silent> <space>5 5gt
nnoremap <unique> <silent> <space>6 6gt
nnoremap <unique> <silent> <space>7 7gt
nnoremap <unique> <silent> <space>8 8gt
nnoremap <unique> <silent> <space>9 9gt

nnoremap <unique> <silent> <space>H <C-w>H
nnoremap <unique> <silent> <space>J <C-w>J
nnoremap <unique> <silent> <space>K <C-w>K
nnoremap <unique> <silent> <space>L <C-w>L
nnoremap <unique> <silent> <space>h <C-w>h
nnoremap <unique> <silent> <space>j <C-w>j
nnoremap <unique> <silent> <space>k <C-w>k
nnoremap <unique> <silent> <space>l <C-w>l

nnoremap <unique> <silent> <space><space> <C-^>
nnoremap <unique> <silent> <space>T :Vterm<CR>
nnoremap <unique> <silent> <space>n :bn<CR>
nnoremap <unique> <silent> <space>p :bp<CR>
nnoremap <unique> <silent> <space>q :q<CR>
nnoremap <unique> <silent> <space>t :Term<CR>
nnoremap <unique> <silent> <space>w :w<CR>
nnoremap <unique> <silent> <space>x :x<CR>
nnoremap <unique> <silent> <space>z za
nnoremap <unique> <space>G :G<CR>
nnoremap <unique> <space>I :buffers<CR>:buffer<Space>
nnoremap <unique> <space>S :GFiles<CR>
nnoremap <unique> <space>V :set paste!<CR>
vnoremap <unique> <silent> <space>p "_dP

map <unique> <silent> <space>B <Action>(ViewToolButtons)
map <unique> <silent> <space>M <Action>(ViewNavigationBar)
map <unique> <silent> <space>U <Action>(ViewRecentActions)
map <unique> <silent> <space>a <Action>(FindInPath)
map <unique> <silent> <space>b <Action>(ViewStatusBar)
map <unique> <silent> <space>f <Action>(ActivateProjectToolWindow)
map <unique> <silent> <space>i <Action>(ViewRecentFiles)
map <unique> <silent> <space>m <Action>(ViewMenu)
map <unique> <silent> <space>o <Action>(HideAllWindows)
map <unique> <silent> <space>r <Action>(RenameElement)
map <unique> <silent> <space>s <Action>(SearchEverywhere)
map <unique> <silent> <space>u <Action>(MainMenu)

nnoremap <unique> <silent> <space>E vip:sort iu<CR>
nnoremap <unique> <silent> <space>e vip:sort u<CR>
vnoremap <unique> <silent> <space>E :sort iu<CR>
vnoremap <unique> <silent> <space>e :sort u<CR>

nnoremap <unique> <silent> <space>' :vsp<CR>
nnoremap <unique> <silent> <space>- :sp<CR>
nnoremap <unique> <silent> <space>= :sp<CR>
nnoremap <unique> <silent> <space>\ :vsp<CR>

nnoremap <unique> <silent> <space>C gg"+yG
nnoremap <unique> <silent> <space>c "+y
nnoremap <unique> <silent> <space>v "+p
vnoremap <unique> <silent> <space>c "+y
vnoremap <unique> <silent> <space>d "_d
vnoremap <unique> <silent> <space>v "+p

"" -- Map IDE actions to IdeaVim -- https://jb.gg/abva4t
" Find more examples here: https://jb.gg/share-ideavimrc
